* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
.slider_bg {
  background-image: url(./images/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 650px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_content {
  width: 80%;
}
.slider_content > h2 {
  font-size: 40pt;
}
.slider_content > p {
  margin-top: 15px;
  font-size: 16pt;
  color: #0d1321;
}
.slider_content > button {
  margin-top: 20px;
  padding: 10px;
  width: 190px;
  height: 50px;
  background-color: #0d1321;
  color: aliceblue;
  border-radius: 10px;
  border: 1px solid black;
  font-size: medium;
}
.layer_section {
  text-align: center;
  margin: 0 auto;
  background-color: #e2e0da;
  width: 80%;
  margin-top: 40px;
  padding: 60px;
  border-radius: 20px;
}
.layer_section_title > h2 {
  font-size: 30pt;
  margin-bottom: 40px;
  color: #0d1321;
}
.layer_section_title > p {
  margin-bottom: 60px;
  font-size: 14pt;
  color: #0d1321;
  font-weight: 400;
  text-align: center;
  line-height: 3cap;
}
.layer {
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.3897934173669467) 0%, rgba(250,250,250,1) 0%, rgba(226,224,218,1) 100%);
  height: 250px;
  width: 85%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.layer_details {
  text-align: left;
  padding: 20px;
  color: #0d1321;
  width: 50%;
}
.layer_details > h2 {
    margin-bottom: 10px;
}
.layer_details>p{
    margin-bottom: 10px;
}
.layer_details>a{
    margin-top: 15px;
    display: inline-block;
    background-color: #e2e0da;
    padding: 10px;
    border: 1px solid #000;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 400;
}
.layer_image{
    text-align: center;
    width: 50%;
    padding: 5px;
}
.layer_image> img{
    width: auto;
    height: auto;
}
.layer:nth-child(2n){
    flex-direction: row-reverse;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.3897934173669467) 0%, rgba(250,250,250,1) 0%, rgba(226,224,218,1) 100%);
}
.layer:nth-child(2n) >.layer_details{
    text-align: right;
}